@import gameLogic.GameScenario

@(id: String, player: String, scenario: GameScenario)
<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8"/>
      <script type="text/javascript" src="/roboRally.js"></script>
      <link rel="stylesheet" type="text/css" href="/roboRally.css">
      <link rel="icon" href="/favicon.ico" type="image/x-icon">
    </head>
    <body player="@{player}" game="@{id}">
      @Scenario(scenario)
      <table id='controls'></table>
      <ul style="display:block" id='eventLog'></ul>
    </body>
  </html>
