@import gameLogic._

@(games: Seq[(String, GameState)])


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <script type="text/javascript" src="lobby.js"></script>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
Game List:
    <hr>
    <table>
        <tr>
            <th>id</th>
            <th>state</th>
            <th>players</th>
            <th>actions</th>
        </tr>
    @for((id, game) <- games) {
        <tr>
            <td>@id</td>
            <td>@game.getClass.getSimpleName.replaceAll("\\$", "")</td>
            <td>@game.fold[Seq[String]](_ => Seq.empty)(x => x.playerNames)(x => x.players)(_ => Seq.empty).map{player =>
                <a href="/games/@id/players/@player">@player</a>}</td>
            <td>
            @game match {
                case g:GameNotDefined.type => {<button onclick="defineGame('@id')">Define Scenario</button>}
                case g:GameNotStarted => {<button onclick="joinGame('@id')">Join Game</button> <button onclick="startGame('@id')">Start Game</button>}
                case g:GameRunning => {}
                case g:GameFinished => {}
            }
            <button onclick="deleteGame('@id')">Delete</button></td>
        </tr>
        }
</table>
        <hr>
<button onclick="newGame()">New Game</button>
</body>
</html>
