@(id: String)
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Robo Race</title>
        <script type="text/javascript" src="/assets/robo-race.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/drag-drop-touch-polyfill@@1.0.0/DragDropTouch.min.js"></script>
        <link rel="icon" href="/assets/favicon.png" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="/assets/robo-race.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css">
    </head>
    <body data-game-id="@id">
        <div id="robo-race"></div>
    </body>
</html>
