html, body{
  font-family: Roboto;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*
 * Game Layout
 */

.game {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  height: 100%;
  background: #4a4a4a;
}

.game-board {
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

.game-board canvas{
  display: block;
  margin: auto;
}

.game-board div svg {
  width: 100%;
}

.footer-group {
  width: 100%;
}

.text-panel {
  text-align: center;
  overflow-x: auto;
  margin: 4px;
  font-size: 30px;
  color: white;
}

/*
 * Floating Action Buttons (= fab)
 */

.fab {
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.54);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.fab img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.fab-left-1 {
  position: absolute;
  left: 8px;
  top: 8px;
}

.fab-left-2 {
  position: absolute;
  left: 64px;
  top: 8px;
}

.fab-right-1 {
  position: absolute;
  right: 8px;
  top: 8px;
}

/*
 * Slots
 */

.slots-panel {
  text-align: center;
  overflow-x: auto;
  margin: 4px;
  height: 72px;
}

.slots-panel .slot {
  width: 48px;
  height: 64px;
  border-radius: 4px;
  border: solid 2px rgba(0, 0, 0, 0.54);
  background-color: rgba(255, 255, 255, 0.37);
  vertical-align: middle;
  margin: 4px;

  font-size: 32px;
  color: #9b9b9b;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.slots-panel .filled {
  background-color: #ffffff;
}

.slots-panel .filled img {
  width: 100%;
  object-fit: contain;
}

.slots-panel .focused {
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 9px 0 #1d97e2;
  border: solid 2px #1d97e2;
}

/*
 * Cards (= Instructions)
 */

.cards-panel {
  text-align: center;
  height: 104px;
  overflow-x: auto;
  white-space: nowrap;
  overflow-y: hidden;
  margin: 4px;
}

.cards-panel .action {
  width: 80px;
  height: 96px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.54);
  margin: 4px;
  position: relative;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.cards-panel .action img {
  width: 100%;
  object-fit: contain;
}

.cards-panel .action .badge {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  background-color: #1d97e2;
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
