body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.frame {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.frame-header {
    background-color: grey;
    padding: 0.5em;
    flex-shrink: 0;
}

.frame-body {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0.5em;
}

.frame-footer {
    background-color: grey;
    padding: 0.5em;
    flex-grow: 0;
    flex-shrink: 0;
}


.modal-maximized {
    display: flex;
    width: 100%;
    height: 80vh;,
}

.game-view {
    flex-grow: 1;
}

.control-panel {
    text-align: center;
}

.control-panel .text {
    color: white;
}

.slot, .action {
    width: 52px;
    height: 52px;
    display: inline-block;
    border-radius: 3px;
    margin: 2px;
    background: lightgrey;
}

.slot img, .action img {
    display: block;
    width: 50px;
    height: 50px;
}

.action {
    border: 1px solid blue;
}

.slot {
    border: 1px solid red;
}

.slot-selected {
    border: 1px solid green;
}

.action-used {
    border: 1px solid lightgrey;
}

.action-focused {
    border: 1px dashed blue;
}
