board{
    border-collapse:collapse;
    display: table;
}
board row {
    display: table-row;
}

board row cell{
    display: table-cell;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    border-top: 0;
    border-left: 0;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    padding: 0;
    background: #ccc;
}

cell.wall-down{
    border-bottom: 5px solid #555;
}

cell.wall-right{
    border-right: 5px solid #555;
}

.target-cell {
    background: green;
}

.target-cell:before{
    color: white;
    content: "T";
}

.beacon-cell {
     background: blue;
 }

.beacon-cell:before {
    color: white;
    content: "B";
}

robot{
    background: red;
    display: table-cell;
    /*position: absolute;*/
    height: 50px;
    width: 50px;
    /*transition: left 1s, top 1s, transform 1s, display 1s;*/

    font-size: 30px;
    color: white;
    text-align: center;
}
