@(mode: String, gameId: String, scenarioId: String)
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Robo Race</title>
        <script type="text/javascript" src="/assets/robo-race.js"></script>
        <link rel="icon" href="/assets/favicon.svg" sizes="any" type="image/svg+xml">
        <link rel="stylesheet" type="text/css" href="/assets/robo-race.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
    </head>
    <body data-mode="@mode" data-game-id="@gameId" data-scenario-id="@scenarioId">
        <div id="robo-race"></div>
    </body>
</html>
