@(sessionId: String)
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Robo Race</title>
        <script type="text/javascript" src="/assets/robo-race.js"></script>
        <link rel="icon" href="/assets/favicon.svg" sizes="any" type="image/svg+xml">
        <link rel="stylesheet" type="text/css" href="/assets/robo-race.css">
    </head>
    <body data-session-id="@sessionId" id="robo-race">
        <div></div>
    </body>
</html>
